/* this makes the title bar stay inside the container's margins */
.jxChromePanel {
	overflow: hidden;
}

/* this sets the chrome image, adjust the path as necessary */
.jxChromePanel .jxChrome {
	background-image: url(../../../deps/themes/crispin/images/dialog_chrome.png);
}

/* these are the dimensions of the chrome around the content area of
the panel, taken from dialog css */
.jxChromePanel .jxPanelContentContainer {
	margin: 0px 11px 13px 12px;
}

/* these are the dimensions of the chrome around the title area of the
panel, taken from dialog css */

.jxChromePanel .jxPanelTitle {
	background-image: none;
	margin: 6px 6px 0px 7px;
}

/* need some space at the bottom of the title when the panel is
minimized */
.jxChromePanel .jxPanelMin .jxPanelTitle {
	margin-bottom: 13px;
}


/* need to adjust the position of absolutely positioned things  a bit */
.jxChromePanel .jxPanelControls {
	right: 5px;
}

.jxChromePanel .jxPanelIcon {
	left: 5px;
}

/* Styles for embedding a regular panel in a ChromePanel */

.jxChromePanel .jxPanel .jxPanelTitle {
	background-image: url(../../../deps/themes/crispin/images/panelbar.png);
	margin: 0;
}

.jxChromePanel .jxPanel .jxPanelMin .jxPanelTitle {
	margin-bottom: 0;
}

.jxChromePanel .jxPanel .jxPanel .jxPanelControls {
	right: 2px;
}

.jxChromePanel .jxPanel .jxPanelIcon {
	left: 2px;
}
