
.jxWizard .jxTabSetContainer .tabContent {
    padding: 10px;
}

.jxWizardPrev {
    background-image: url('images/arrow_left.png');
}


.jxWizardNext {
    background-image: url('images/arrow_right.png');
}


.jxWizardCancel {
    background-image: url('images/cancel.png');
}


.jxWizardFinish {
    background-image: url('images/tick.png');
}